{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <h1 class="text-danger text-center mt-3 mb-3 p-3">{{ page.title }}</h1><hr>

    <div class="intro m-3">{{ page.intro|richtext }}</div>
    
    <div class="row">
    {% for post in blogpages %}
    {% with post=post.specific %}
        <div class="col-lg-3">
            <div class="card" style="width: 18rem;">
                {% with post.main_image as main_image %}
                    {% if main_image %}
                        {% image main_image fill-160x100 as blog_img %}
                        <img src="{{ blog_img.url }}" class="card-img-top" alt="{{ post.title }}">
                    {% endif %}
                {% endwith %}
                
                <div class="card-body">
                    <h5 class="card-title text-danger">{{ post.title }}</h5>
                    <p class="card-text text-black">{{ post.intro }}</p>
                    <a href="{% pageurl post %}" class="btn btn-primary align-items-center text-center"> See More </a>
        
                </div>
            </div>
        </div>
        
        
        {% endwith %}
        {% endfor %}
    </div>

{% endblock %}