{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags wagtailroutablepage_tags cache %}

{% block body_class %}template-blogindexpage{% endblock %}

{% block content %}
    <div class="row mt-3">
        <div class="col-lg-8">
            <h1 class="text-danger text-center mt-3 mb-3 p-3">{{ page.title }}</h1><hr>
            <h1>Categories:
                <small>
                    {% for cat in categories %}
                        <!-- <a href="?category={{ cat.slug }}"> -->
                        <a href="{% routablepageurl page "category_view" cat.slug %}">
                            {{ cat.name }}
                        </a>{% if not forloop.last %}, {% endif %}
                    {% endfor %}
                </small>
            </h1>
        
        </div>
        <div class="col-lg-4 ">
            <a class="btn custom-btn p-2" href="{% routablepageurl page 'latest_posts' %}">Latest Blogs</a>
        </div>
    </div>


    <div class="intro m-3">{{ page.intro|richtext }}</div>
    
    <div class="row">
    {% for post in blogpages %}
    {% with post=post.specific %}
    {% cache 604800 blog_post_preview post.id %}
        <div class="col-lg-3 col-md-6">
            <div class="card-custom">
                <div class="card single-card my-3" style="width: 18rem;">
                    {% with post.main_image as main_image %}
                        {% if main_image %}
                            {% image main_image fill-160x100 as blog_img %}
                            <img src="{{ blog_img.url }}" class="card-img-top" alt="{{ post.title }}">
                        {% endif %}
                    {% endwith %}
                    
                    <div class="card-body">
                        <h5 class="card-title text-danger">{{ post.title }}</h5>
                        <p class="card-text text-black">{{ post.intro }}</p>
                        <a href="{% pageurl post %}" class="btn custom-btn align-items-center text-center"> See More </a>
            
                    </div>
                </div>
            </div>
        </div>
    {% endcache %}
    {% endwith %}
    {% endfor %}

        {% if blogpages.paginator.num_pages > 1 %}
            <nav aria-label="Page navigation example" >
                <ul class="pagination">


                {% if blogpages.has_previous %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ blogpages.previous_page_number }}" aria-label="Previous">
                        <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                {% endif %}

                {% for page_num in blogpages.paginator.page_range %}
                    <li class="page-item {% if page_num == blogpages.number  %} active {% endif %}"><a class="page-link" href="?page={{ page_num }}">{{page_num}}</a></li>
                {% endfor %}
                
                {% if blogpages.has_next %}
                    <li class="page-item">
                        <a class="page-link" href="?page={{ blogpages.next_page_number }}" aria-label="Next">
                        <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                {% endif %}

                </ul>
            </nav>
        
        {% endif %}

        

{% endblock %}