{% load wagtailcore_tags %}
<div class="container">
    <h2 class="text-danger m-2 text-center">{{ self.heading }}</h2>
    <hr>
    {% if self.text %}
        <p class="m-2">{{ self.text|richtext }}</p>
    {% endif %}

    <div class="grid">
        {% for page in self.posts %}
            <div class="card container">
                <p><a class="m-2" href="{% pageurl page %}">{{ page.title }}</a></p>
                <p class="text-danger m-2">{{ page.specific.date }}</p>
            </div>
        {% endfor %}
    </div>
</div>