{% load wagtailcore_tags navigation_tags wagtailuserbar static  cache %}


<header>

    <a href="#main" class="skip-link">Skip to content</a>


    {% get_site_root as site_root %}

    <!-- Navbar Start -->



    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% pageurl site_root %}"><img src="{% static 'img/inkwander.png' %}" style="height: 50px;width:100px;" alt=""></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarColor02">
          <ul class="navbar-nav me-auto ">
            <li class="nav-item">
              <a class="nav-link text-danger active" aria-current="page" href="{% pageurl site_root %}">Home</a>
            </li>
            {% cache 604800 navigation %}
              {% for menuitem in site_root.get_children.live.in_menu %}
              <li class="nav-item">
                    <a class="nav-link text-danger font-weight-bold" href="{% pageurl menuitem %}">{{ menuitem.title }} </a> 
                </li>
              {% endfor %}
            {% endcache %}
            &nbsp;&nbsp;&nbsp;<li class="nav-item mt-2 text-warning font-weight-bold">
              {% if request.user.is_authenticated %}
                Hi {{request.user.username}},
                <a href="{% url "account_logout" %}" class="nav-link text-info font-weight-bold d-inline">Logout?</a>
              {% else %}
                Hi Guest,
                <a href='{% url "account_login" %}' class="nav-link text-info font-weight-bold d-inline">Login?</a>
              {% endif %}
            </li>
            <!-- <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Dropdown
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
              </ul>
            </li> -->
          </ul>
          <form action="{% url 'search' %}" method="get" class="d-flex"  role="search">
            <input name="query"{% if search_query %} value="{{ search_query }}"{% endif %} class="form-control me-sm-2" type="search" placeholder="Search" aria-label="Search" required>
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>           

          </form>
        </div>
      </div>
    </nav>

    <!-- Navbar End -->


    {% wagtailuserbar "bottom-right" %}

</header>


