{% load wagtailcore_tags navigation_tags wagtailuserbar static  cache %}


<header>

    <a href="#main" class="skip-link">Skip to content</a>


    {% get_site_root as site_root %}

    <!-- Navbar Start -->
    <nav class="navbar border-body navbar-expand-lg" data-bs-theme="dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% pageurl site_root %}"><img src="{% static 'img/inkwander.png' %}" style="height: 50px;width:100px;" alt=""></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link text-danger active" aria-current="page" href="{% pageurl site_root %}">Home</a>
              </li>
              {% cache 604800 navigation %}
                {% for menuitem in site_root.get_children.live.in_menu %}
                <li class="nav-item">
                      <a class="nav-link text-danger font-weight-bold" href="{% pageurl menuitem %}">{{ menuitem.title }} </a> <!----{% if not forloop.last %} | {% endif %}--->
                  </li>
                {% endfor %}
              {% endcache %}
              <!-- <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                  Dropdown
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">Action</a></li>
                  <li><a class="dropdown-item" href="#">Another action</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </li> -->
            </ul>
            <form class="d-flex" role="search">
              <a href="/search/" class="btn btn-outline-danger ml-3" type="submit">Search</a>
            </form>
          </div>
        </div>
      </nav>

    <!-- Navbar End -->


    {% wagtailuserbar "bottom-right" %}

</header>


